/* шрифт comfortaa italic */
html,
body {
  margin: 0 auto;
}
.topTitle.Osn {
  color: #d026dd;
  font-family: Impact;
  font-size: 28px;
  font-weight: bold;
}
.header {
  margin-top: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topimg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;
}
.topTitle.Dop {
  font-family: "Lobster";
  color: #191918;
  font-size: 24px;
  margin: 5px;
}
.navpanelBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e8e0b5;
}
.navpanel {
  align-items: center;
  height: 40px;
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.nextpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 40px;
  text-decoration: none;
  color: black;
}
.nextpage:hover {
  border-top: 1px solid rgb(176, 176, 255);
  transition: all 2s 100ms;
}
.navstr {
  font-size: 20px;
  width: 100%;
  height: 40px;
  background-color: white;
}
#home {
  border-top: 1px solid rgb(176, 176, 255);
  background-color: rgb(145, 143, 143);
}
.bodyimg {
  display: flex;
  justify-content: center;
}
.me {
  width: 75%;
}
.lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lessonsTitle {
  font-weight: bold;
  margin-top: 25px;
}

.lessonsBlock {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}
.lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.lessonImg {
  border-radius: 200px;
  width: 120px;
  height: 120px;
}
.lessonTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  margin: 25px;
  color: #0eae9e;
}
.lessonAbout {
  text-align: center;
  line-height: 1.5;
  height: 150px;
  width: 200px;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #e720d0;
  width: 120px;
  height: 20px;
}
.speakPactics {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speakBlock {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}
.speak {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.speakImg {
  border-radius: 5px;
  height: 240px;
  width: 250px;
}
.speakSubTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  margin: 25px;
}
.speakAbout {
  text-align: center;
  line-height: 1.5;
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
}
.reviews {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.reviewsBlock {
  justify-content: center;
  display: flex;
  width: 55%;
  flex-wrap: wrap;
}
.reviewsImg1 {
  margin: 25px;
  width: 410px;
  height: 300px;
}
.reviewsImg2 {
  margin: 25px;
  width: 480px;
  height: 210px;
}
.reviewsImg3 {
  margin-top: -95px;
  width: 400px;
  height: 400px;
}
.reviewsImg4 {
  margin: 25px;
  width: 330px;
  height: 320px;
}
.studentsLocation {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentsTitle {
  display: flex;
  margin: 50px;
  width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #a634df;
  font-size: 20px;
  font-family: Comfortaa;
}
.studentsLocationsImg {
  width: 75%;
}
.aboutMe {
  margin-top: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  font-family: Comfortaa;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.Me {
  width: 200px;
  height: 220px;
}
.about1 {
  display: flex;
  width: 450px;
  flex-direction: column;
  align-items: flex-end;
}
.aboutSubTitle {
  text-align: left;
  font-size: 26px;
}
.aboutExam {
  font-size: 16px;
  width: 250px;
  margin-top: 10px;
}
.aboutSpan {
  margin-top: 10px;
  width: 280px;
  font-size: 20px;
}
.about2 {
  width: 500px;
}
.aboutList {
  width: 300px;
}
li {
  list-style-type: none;
}
.listSpan::before {
  content: "- ";
  padding-right: 5px;
}
.footer {
  margin-top: 100px;
  color: white;
  background-color: #2b283b;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footerBlock {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.footerLinks {
  display: flex;
  flex-direction: column;
}
.social {
  margin: 5px;
}

/* Lessons page */
.cartBackground {
  background-color: #ebd5e1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cart {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartTitle {
  display: flex;
  width: 75%;
  justify-content: center;
}
.cartImg {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}
.cartSumm {
  justify-content: end;
  display: flex;
  align-items: center;
}
.cartLessonsBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/backlessons.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  border-radius: 0px;
  width: 100%;
  height: 895.094px;
}
.cartLessons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64%;
  height: 600px;
  flex-wrap: wrap;
}
.cartLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: 50px;
  height: 300px;
}
.cartImgLesson {
  width: 180px;
  height: 180px;
}
.costBlock {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 180px;
  height: 80px;
  position: relative;
  transition: top 0.5s;
  top: 0;
}
.costDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  position: relative;
  top: -20px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.cartLesson:hover > .costBlock {
  top: -35px;
}
.cartLesson:hover > .cartImgLesson {
  transform: scale(1.1);
  transition: 1s;
}
.cartLesson:hover > .costDetails {
  visibility: visible;
}
.details {
  position: relative;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  height: 35px;
}
.details:hover {
  background-color: #31629f;
  color: white;
  transition: all 0.5s ease;
}
.cost {
  color: #31629f;
}
.cartOverview {
  width: 170px;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.sale {
  margin-top: 5px;
  width: 100%;
  background-color: #ebd5e1;
  display: flex;
  justify-content: center;
  height: 400px;
}
.saleBlock {
  color: white;
  background-image: url(img/saleback.jpg);
  width: 1000px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sale1 {
  line-height: 1.1;
  font-family: Impact;
}
.saleCost {
  font-size: 82px;
}
.timer {
  font-size: 23px;
  font-weight: 300;
}
.sale2 {
  line-height: 1.1;
  width: 330px;
  text-align: center;
  font-family: Comfortaa;
  font-size: 26px;
}

.whatUget {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getTitle {
  text-align: center;
  width: 75%;
  font-size: 24px;
  color: #7d7d7d;
  font-family: Comfortaa;
}
.getHr {
  border: 1px solid #7d7d7d;
  width: 95%;
}
.getBlocks {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.getBlock {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 25px;
}
.getBlockTitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: #e510ea;
  font-style: oblique;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 800;
  opacity: 0;
  transition: opacity 0.5s;
}

.getReview {
  line-height: 1.7;
  font-family: Comfortaa;
  font-size: 14px;
}
.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advantTitle {
  text-align: center;
  width: 75%;
  font-size: 24px;
  color: #7d7d7d;
  font-family: Comfortaa;
}
.advantagesHr {
  width: 95%;
  border: 1px solid #7d7d7d;
}
.advanagesBlocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.advantageBlock {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0; /* Начальная прозрачность */
  transform: translateY(20px); /* Начальное смещение */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.advantageBlock.visible {
  opacity: 1; /* Полная видимость */
  transform: translateY(0); /* Вернуться в оригинальное положение */
}
.advImgBlock {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantReviewsTitle {
  font-weight: 800;
  margin-bottom: 10px;
  font-style: oblique;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  font-size: 22px;
  color: #11a3c3;
  font-family: "Times New Roman";
}
.op {
  transition: all 1s ease-in-out;
  opacity: 100;
}

.advantReviewsSpan {
  width: 700px;
  font-size: 16px;
  font-family: Comfortaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popupContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  height: auto;
  width: 800px;
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff0000;
}

.popupImgBlock {
  display: flex;
  height: auto;
}
.popupImage {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}
.popupBlock {
  align-items: center;
  width: 100%;
  margin-left: 25px;
  justify-content: space-evenly;
  display: flex;
}
.popupContentBlock {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popupName {
  font-size: 30px;
}
#popupDescription {
  text-align: left;
  font-size: 18px;
}
.popupAdd {
  width: 130px;
  height: 40px;
  color: #fafafa;
  background: #31629f;
  border-color: #31629f;
}
.popupAdd:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  background: #5175a1;
  border-color: #5175a1;
}
.costPopup {
  display: flex;
  width: 250px;
  justify-content: space-around;
}
.costDiv {
  color: #31629f;
  display: flex;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
}
/*  */

/* about page */
.EveryOneBlockImg {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.everyOneImg {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.forEveryone {
  display: flex;
  justify-content: center;
  width: 100%;
}
.forEveryoneBlock {
  margin-top: 50px;
  width: 75%;
  align-content: center;
  display: flex;
  justify-content: space-around;
}
.everyoneText {
  width: 500px;
}
.everyOnetitle {
  font-family: Comfortaa;
  font-size: 42px;
}
.everyoneSpan {
  font-family: Comfortaa;
  font-size: 14px;
}
.offer {
  margin-top: 100px;
  background-color: #ededd1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.offerTitle {
  font-size: 30px;
  font-family: Comfortaa;
}
.offerBlock {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offerImg {
  width: 480px;
  height: 350px;
}
.offerRev {
  height: 600px;
  align-items: center;
  display: flex;
}
.offerUl {
  width: 450px;
}
.offerLi {
  list-style-type: disc;
  line-height: 1.5;
  font-size: 18px;
  font-family: Comfortaa;
}

.comfort{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.comfortTitle{
  font-family:Comfortaa;
  font-size: 26px;
}
.comfortBlocks{
  justify-content: center;
  align-items: center;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
.comfortBlock{
  margin: 50px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.comfortBlockTitle{
  font-weight:700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#ad23ef;
  font-size:16px;
}
.comfortSpan{
  margin-top: 25px;
  font-family:Comfortaa;
}


/* about page */
