/* шрифт comfortaa italic */
html,
body {
  margin: 0 auto;
}
.topTitle.Osn {
  color: #d026dd;
  font-family: Impact;
  font-size: 28px;
  font-weight: bold;
}
.header {
  margin-top: 25px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topimg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;
}
.topTitle.Dop {
  font-family: "Lobster";
  color: #191918;
  font-size: 24px;
  margin: 5px;
}
.navpanelBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e8e0b5;
}
.navpanel {
  align-items: center;
  height: 40px;
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}
.nextpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 40px;
  text-decoration: none;
  color: black;
}
.nextpage:hover {
  border-top: 1px solid rgb(176, 176, 255);
  transition: all 2s 100ms;
}
.navstr {
  font-size: 20px;
  width: 100%;
  height: 40px;
  background-color: white;
}
#home {
  border-top: 1px solid rgb(176, 176, 255);
  background-color: rgb(145, 143, 143);
}
.bodyimg {
  display: flex;
  justify-content: center;
}
.me {
  width: 75%;
}
.lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lessonsTitle {
  font-weight: bold;
  margin-top: 25px;
}

.lessonsBlock {
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}
.lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.lessonImg {
  border-radius: 200px;
  width: 120px;
  height: 120px;
}
.lessonTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  margin: 25px;
  color: #0eae9e;
}
.lessonAbout {
  text-align: center;
  line-height: 1.5;
  height: 150px;
  width: 200px;
}
.more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #e720d0;
  width: 120px;
  height: 20px;
}
.speakPactics {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speakBlock {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
}
.speak {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.speakImg {
  border-radius: 5px;
  height: 240px;
  width: 250px;
}
.speakSubTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  margin: 25px;
}
.speakAbout {
  text-align: center;
  line-height: 1.5;
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
}
.reviews {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.reviewsBlock {
  justify-content: center;
  display: flex;
  width: 55%;
  flex-wrap: wrap;
}
.reviewsImg1 {
  margin: 25px;
  width: 410px;
  height: 300px;
}
.reviewsImg2 {
  margin: 25px;
  width: 480px;
  height: 210px;
}
.reviewsImg3 {
  margin-top: -95px;
  width: 400px;
  height: 400px;
}
.reviewsImg4 {
  margin: 25px;
  width: 330px;
  height: 320px;
}
.studentsLocation {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.studentsTitle {
  display: flex;
  margin: 50px;
  width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #a634df;
  font-size: 20px;
  font-family: Comfortaa;
}
.studentsLocationsImg {
  width: 75%;
}
.aboutMe {
  margin-top: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  font-family: Comfortaa;
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.Me {
  width: 200px;
  height: 220px;
}
.about1 {
  display: flex;
  width: 450px;
  flex-direction: column;
  align-items: flex-end;
}
.aboutSubTitle {
  text-align: left;
  font-size: 26px;
}
.aboutExam {
  font-size: 16px;
  width: 250px;
  margin-top: 10px;
}
.aboutSpan {
  margin-top: 10px;
  width: 280px;
  font-size: 20px;
}
.about2 {
  width: 500px;
}
.aboutList {
  width: 300px;
}
li {
  list-style-type: none;
}
li::before {
  content: "- ";
  padding-right: 5px;
}
.footer {
  margin-top: 100px;
  color: white;
  background-color: #2b283b;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footerBlock {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.footerLinks {
  display: flex;
  flex-direction: column;
}
.social {
  margin: 5px;
}

/* Lessons page */
.cartBackground {
  background-color: #ebd5e1;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cart {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartTitle {
  display: flex;
  width: 75%;
  justify-content: center;
}
.cartImg {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}
.cartSumm {
  justify-content: end;
  display: flex;
  align-items: center;
}
.cartLessonsBackground {
  display: flex;
  justify-content: center;
  background-image: url(img/backlessons.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  border-radius: 0px;
  width: 100%;
  height: 895.094px;
}
.cartLessons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64%;
  flex-wrap: wrap;
}
.cartLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 300px;
}
.cartImgLesson {
  width: 180px;
  height: 180px;
}
.costBlock {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 180px;
  height: 80px;
  position: relative;
  transition: top 0.5s;
  top: 0;
}
.costDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  position: relative;
  top: -20px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.cartLesson:hover > .costBlock {
  top: -35px;
}
.cartLesson:hover > .cartImgLesson {
  transform: scale(1.1);
  transition: 1s;
}
.cartLesson:hover > .costDetails {
  visibility: visible;
}
.details {
  position: relative;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 150px;
  margin-top: 40px;
  padding: 10px 20px 10px 20px;
  height: 35px;
}

.cost {
  color: #31629f;
}
.cartOverview {
  width: 170px;
  font-family: Rubik, sans-serif;
  font-size: 15px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.sale {
}
